body				{font-family: sans-serif; background: #eee; margin: 0; padding; 0;}
input				{margin: 0; border: 1px solid silver; background: #FFFFFF; text-align: center;}
ul					{margin: 0; padding: 0; border-top: 1px solid silver;}
li					{font-size: 1.2em; line-height: 24px; background:#eee;
					 list-style: none; color: #666;
					 margin: 0; padding: 0.5em 0 0.5em 1em;
					 border-bottom: 1px solid silver;}
li:nth-child(2n+1)	{background: #e0e0e0;}
li:hover			{background: #f7f7f7;}

.ps					{color: #999;}
li:hover .ps		{color: #555;}

input[disabled]		{color: #999;}

section				{overflow: visible; height: !00%;}
section h1			{text-shadow: #777 0 1px 2px; color: #444; padding: 0.5em; margin:0; background: linear-gradient(0deg, #eee, white 60%);}
.diceInput			{float: right; margin-right: 0.5em;}

.good				{color: #5a1;}
.double				{text-decoration: underline;}
.reroll				{color: green; text-decoration: underline;}
.bad				{color: red;}
.d10				{display: none;}
.highest			{color: blue;}

.reload				{cursor: pointer;}

.close				{cursor: pointer;
					 visibility: hidden;
					 user-select: none;
					 -moz-user-select: none;
					 -webkit-user-select: none;
					 -ms-user-select: none;
					 font-family: webdings;
					 float: right; color: #999; font-size: 14pt; text-shadow: #999 0 -1px 2px; margin: 0 1em 0 0; font-weight: 400; display: inline-block; text-align: center; width: 32px; height: 32px;}
li:hover .close		{visibility: visible;}
.is-hidden .close	{color: #fff; visibility: visible;}
.close:hover		{color: #333;}

#left				{position: absolute; top: 0; left: 0; width: 256px;}
#left ul, #options	{position: absolute; width: 100%;}
#left li			{height: 1.25em; text-shadow: #888 0 1px 2px;}

#right				{position: absolute; top: 0; left: 256px;
					 right: 0; bottom: 0;
					 overflow: auto; border-left: 3px double silver;}
#right li:first-child {color: #333; background: white;}

#namer				{padding: 0.5em 0;}
#namer input		{margin: -0.3em 0; padding: 0.3em; max-width: 100%; width: 100%; padding-left: 0; padding-right: 0; border-left: 0; border-right: 0;}

#roll				{width: 100%; height: 2.25em; display: block; padding: 0; margin: -0.5em -1em; font-size: inherit; border: 1px solid white !important; text-shadow: #666 0 1px 2px;}
#roll, #settings	{background: linear-gradient(180deg, #f0f0f0, #e7e7e7); cursor: pointer;}
#roll:hover			{background: linear-gradient(180deg, #ffffff, #f0f0f0);}

#settings			{margin: -1.75em 0 0; padding: 0; height: 2.3em; width: 2.3em;
					 float: right;
					 font-size: inherit;
					 background: #eee url(settingsIcon.png) center center no-repeat;
					 border-width: 1px; border-color: transparent transparent silver silver;}
#settings:hover		{background-color: #fff;}
#settings.on		{background: #e0e0e0 url(settingsIcon.png) center center no-repeat;}

#options			{display: none;}
#options li			{border-bottom: 1px solid transparent; background: #e0e0e0; padding: 0.5em;}
#options li:last-child		{border-bottom: none;}
#options input[type=button]{padding: 0.5em 0; margin: -0.5em 0; display: inline-block; width: 33%;}
#clear				{width: 100%!important; display: block; height: 2.3em; font-size: inherit; margin: -0.5em;}

#contact				{display: inline-block; position: fixed; top: 32px; right: 16px; opacity: 0.25; text-shadow: silver 0 1px 1px;}
#contact:hover			{opacity: 1;}

#mailer					{ height: 250px; width: 250px; position: fixed; top: 30%; left: 30%; background: rgba(0, 0, 0, 0.8); padding: 32px; border-radius: 8px 0; color: white; font-family: Lucida Sans Unicode;
						 box-shadow: #555 2px 4px 6px -2px;}
#mailer label				{display: inline-block; margin: 2px 5px; width: 64px;}
#mailer input[type=submit]{border: 2px solid silver; font-family: Lucida Sans Unicode; background: #e7e7e7; border-radius: 0 0 8px 8px; border-top: none; text-shadow: silver 0 1px 0; box-shadow: black 1px 2px 3px;
						 margin:  -2px -4px 0 0; float: right;}
#mailer textarea			{width: 100%; height: 170px; margin: 1em 0 0; border: 2px solid silver; background: #e7e7e7; border-radius: 0 8px;}

#mailer #close			{display: inline-block; float: right; margin: -38px; border-radius: 100%; background: black; width: 1.5em; height: 1.5em; text-align: center; border: 2px solid #e7e7e7; box-shadow: black 1px 2px 3px;}

#close, input[type=submit]{cursor: pointer;}

iframe					{display: none; position: fixed; top: -999999%; left: -999999%; width: 0; height: 0; border: 0;}


#copy					{opacity: 0.25; font-size: x-small; position: fixed; bottom: 0; right: 16px; text-shadow: #333 0 1px 2px;}
#copy:hover				{opacity: 0.85;}






.is-hidden				{display: none;}
.show-hidden .is-hidden {display: block;}


@media (max-width: 850px){
	body			{font-size: 70%;}
	#left			{width: 30%;}
	#right			{left: 30%;}
}

@media (max-width: 600px){
	#right			{left: 35%;}
	#left			{width: 35%;}
}

@media (orientation: portrait){
	#left			{width: 40%;}
	#right			{left: 40%;}
}